.rg-btn {
  display: block;
  width: 10%;
  height: 50px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #fff;
  background-color: #2196f3;
  text-align: center;
  padding-top: 15px;
  border-radius: .375rem;
  margin-top: 2%;
  cursor: pointer;
}