.rg-table {
  border: 2px solid #ebebeb;
  margin-top: 3%;
  border-collapse: collapse;
}

.rg-table-data {
  border: 2px solid #ebebeb;
  padding: 20px;
}

.rg-table-hero {
  color: red;
}

.rg-table-op {
  color: green;
}